.panel {
    background-color: #b8f5d4;
    font-size: 1rem;
  }
  .brand {
    color: green;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px
  }

  .link {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }